{% extends '::base.html.twig' %}

{% block contenido %}
<div class="contenido">
    <h3>Producto</h3>

    <table class="record_properties">
        <tbody>
            <tr>
                <th align = "left">Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th align = "left">Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th align = "right">Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th align = "left">Precio</th>
                <td>{{ entity.precio }}</td>
            </tr>
            <tr>
                <th align = "left">IVA</th>
                <td>{{ entity.iva }}</td>
            </tr>
            <tr>
                <th align = "left">Stock</th>
                <td>{{ entity.stock }}</td>
            </tr>
            <tr>
                <th align = "left">Activo</th>
                <td>{%if entity.activo %}Si{% else %}No{% endif %}</td>
            </tr>
            {%if entity.activo == false %}
            <tr>
                <th align = "left">Fecha de baja</th>
                <td>{{ entity.fechainactivo|date('Y-m-d') }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('producto') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('producto_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
{% endblock %}
