<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}TPV - Comercio Justo{% endblock %}
    </title>
    {% block stylesheets %}
      <link href="{{ asset('bundles/framework/css/estilo.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
  </head>

  <body>
  <div class="estructura"> 
  {% block body %}

    {% block cabecera %}
     
      <div class="cabecera">
        <h3 align="center"><a href="{{path('i52_ltpv_frontend_homepage')}}">Aplicación TPV</a></h3>
        (Aquí vendria situado el banner de la tienda)

        <div align="right" id="login"> 
          {% if app.user %}
            {{ app.user.nombre }}
            <a href="{{path('logout')}}">Cerrar sesión </a> 
          {% endif %}
        </div>
      </div>

    {% endblock %}

    {% block menu %}
     <div class="barramenu"> 
       <ul class="menu">  
         <li><a href="{{ path('i52_ltpv_frontend_ventas')}}">venta</a></li> 
         <li><a href="{{ path('i52_ltpv_frontend_cierre')}}">cierre</a></li>  
         <li><a href="{{ path('i52_ltpv_frontend_devolucion')}}">devolucion</a></li>  
         <li><a href="{{ path('i52_ltpv_backend_gestion')}}">gestion</a></li>  
         <li><a href="{{ path('i52_ltpv_backend_informes')}}">informes</a></li>  
         <li><a href="{{ path('i52_ltpv_backend_cuotas')}}">cuotas</a></li> 
       </ul>
     </div>
    {% endblock %}
     
    {% block contenido %}

    {% endblock %}

    {% block pie %}

      <div class="pie">
        <div align="center">- pie de página -</div>
      </div>

    {% endblock %}

  {% endblock %}
  </div> 

  {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.0/angular.min.js"></script>
    <script src="{{ asset('bundles/i52ltpvfrontend/js/scriptrepeat1.js') }}" type="text/javascript"></script>
    {#<script src="{{ asset('bundles/i52ltpvfrontend/js/angular.min.js') }}" type="text/javascript"></script>#}
  {% endblock %}
   
  </body>
</html>
